.root {
    -fx-background-color: #3b3431;
    -fx-alignment: center;
    -fx-padding: 50;
}

.title-text {
    -fx-font-family: "System Bold";
    -fx-font-size: 28px;
    -fx-fill: #f5f2e9;
}

.icon-container {
    -fx-background-color: #2c2522;
    -fx-background-radius: 15;
    -fx-padding: 10;
}

.icon-cell {
    -fx-background-color: #6a8c3d;
    -fx-background-radius: 5;
    -fx-min-width: 45;
    -fx-min-height: 45;
    -fx-alignment: center;
}

.icon-text {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #f5f2e9;
}

.main-button {
    -fx-background-color: #6a8c3d;
    -fx-text-fill: #f5f2e9;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-min-width: 280;
    -fx-padding: 18 40;
    -fx-cursor: hand;
    -fx-border-color: #88a050;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 8, 0, 0, 2);
}

.main-button:hover {
    -fx-background-color: #7da548;
    -fx-border-color: #a8c770;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 12, 0, 0, 4);
}

.settings-button {
    -fx-background-color: #6a8c3d;
    -fx-text-fill: #f5f2e9;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-padding: 5 15;
}

.back-button {
    -fx-background-color: #4a4a4a;
    /* Lon ramy gham2 */
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 50;
    /* ykhalllih mdawar */
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 0, 0);
}

.back-button:hover {
    -fx-background-color: #6a8c3d;
    /* Lon akhdar lma t-hover zay icon el 'O' */
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}